<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta charset="UTF-8">
    <title>beta version available!</title>

    <!-- google fonts -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600|Montserrat:400,700' rel='stylesheet' type='text/css'>

</head>
<body style="
			margin: 0 auto; 
			width: 600px; 
			font-family: 'Open Sans', sans-serif;
			font-weight: 400; 
			line-height: 1.5;
			color: #3c3c3c;" >
	<div style="
		background-image: url('https://gallery.mailchimp.com/f631e66863591b1de362ebbd6/images/0e95b39f-13a5-4865-a0c4-12634e8d487e.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center; 
		width: 600px;
		height: 258px;
		text-align: center;
		margin-bottom: 32px;
		margin: 0;">

		<img src="https://gallery.mailchimp.com/f631e66863591b1de362ebbd6/images/df9bcd92-96b9-45bc-a432-698940f01c73.png" style="width: 228px; margin-top: 90px;">
		<h1 style="
			font-family: 'Montserrat', sans-serif;
			font-weight: 400;
			line-height: 50px;
			font-size: 40px;
			margin-top: 12px; 
			color: #0ADDA6;">
			beta version available!</h1>
	</div>

	<p style="
			font-size: 14px;
			margin: 32px 0;
		">
		Hey <span><%= name %>,</span>
	</p>

	<p style="
			font-size: 14px;
			padding-bottom: 24px;
			margin: 0;
		">
		We've just launched our beta!
		<br>It is ready for you to use and test :)
	</p>
    
	<p style="
		font-size: 14px;
		padding-bottom: 24px;
		margin: 0;
	">
		This is your temporary access code (you should define a password after accessing the platform)
		<br><b><%= hash %></b>
	</p>

	<a href="<%= betaUrl %>"
		style="
		display: block;
		text-decoration: none;
		font-size: 16px;
		padding: 0 24px;
		line-height: 52px;
		background-color: #0ADDA6;
		color: #3c3c3c;
		text-align: center;
		margin: 8px 0 40px 0;
		cursor: pointer;
		" 
	>
		test beta version
	</a>

	<p style="
		font-size: 14px;
		padding-bottom: 24px;
		margin: 0;

	">
		We are working hard to make our hosting even better.
		<br>Please help us testing, sending feebacks, questions, bugs and improvement suggestions!
		<br>
		<br>We want to hear your opinion!
		<br>
		<br><b>habemus team</b>
		<br>hello@habem.us
	</p>

	<div style="
		display: block;
		border-top: 2px solid #cecece;
		text-align: center;">
		<a href="http://habem.us"
			target="_blanc" 
			style="
		text-decoration: none;
		font-size: 12px;
		padding: 12px;
		margin: 0 12px;
		display: inline-block;
		color: #3c3c3c;">
			habem.us
		</a>
		<a href="http://habem.us/#contact"
			target="_blanc" 
			style="
		text-decoration: none;
		font-size: 12px;
		padding: 12px;
		margin: 0 12px;
		display: inline-block;
		color: #3c3c3c;">
			contact
		</a>
		<a href="http://habem.us/#mission"
			target="_blanc" 
			style="
		text-decoration: none;
		font-size: 12px;
		padding: 12px;
		margin: 0 12px;
		display: inline-block;
		color: #3c3c3c;">
			mission
		</a>
	</div>

	
</body>